.banner {
  height: 135px;
  background: #f2f2f2;
  display: flex;
}
.banner__height {
  height: 100%;
}
.banner__title {
  font-size: 37px;
}
.banner__btn {
  background: #e2574c;
  color: #fff;
  text-transform: uppercase;
}
